<footer id="site-footer" class="footer has-background-dark has-text-white">
    <div class="footer-widget">
        <div class="container"></div>
    </div>

    <div class="footer-mention has-text-centered">
        <div class="container">
            <ul class="list-inline">
                <li class="list-inline-item">© 2020 <a href="#">fluxurlradio.fr</a></li>
                <li class="list-inline-item">
                    Theme by <a href="https://dezo.dev/" title="Dezodev - developpeur Web (PHP, JS, Ruby)">Dezodev</a>
                </li>
            </ul>
        </div>
    </div>
</footer>