{% extends "layouts/default.twig" %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title page-title">
                Oops! That page can&rsquo;t be found.
            </h1>

            <div class="page-content">
                <p>
                    It looks like nothing was found at this location.
                </p>

                <a href="{{ site.url }}" class="button is-primary">
                    Go to homepage
                </a>
            </div>
        </div>
    </section>
{% endblock %}