{% extends "layouts/default.twig" %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title post-title">{{ post.title }}</h1>

            <div class="post-content">
                {{ post.content }}
            </div>
        </div>
    </section>
{% endblock %}